body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	with: 150px;
}

.inner-checkbox {
	display: grid;
	grid-template-columns: 30px 1fr;
}

.item-text {
	text-align: left;
}
.item-checkbox {
	text-align: center;
	margin-top: 15px;
}

.item {
	text-align: center;
}
