body {
	margin: 0;
	padding: 30px;
	font-size: 15px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr;
}

.img {
	with: 150px;
}

.inner-checkbox {
	margin-left: 20px;
	display: grid;
	grid-template-columns: 30px 1fr;
}

.item-text {
	text-align: left;
}
.item-checkbox {
	text-align: center;
	margin-top: 14px;
}

.item {
	text-align: center;
}

.btn {
	border-radius: 10px;
	padding: 5px 50px;
	border: none;
	background: var(--tg-theme-hint-color); 
	color: var(--tg-theme-bg-color);
	text-transform: uppercase;
	font-weight: 700;
}
